.vmf-checkbox-group .labelHeader.col-md-3{ 	*float:left!important; 	float:left\9; *margin-top:9px; }
.vmf-checkbox-group .col-md-8{ float:left\9; }

.vmf-checkbox-group label.disabledColor span{  background-position:-261px 0px!important;}
.vmf-checkbox-group label.selected.disabledColor span{  background-position:-226px 0px!important;}


