.custom-checkbox {
    display:block;
    /*line-height:18px;*/
    font-family: $font-stack;
    font-size: 1rem;
    margin-top: 0.4rem;
    margin-bottom:0px;
    position:relative;
    padding-left:1.625em;
    .toolTip-icon {
        margin-top:0px;
		top:2px
    }
    &:first-child {
        margin-top:0px;
    }
    &.selected {
        .customCheckBox:before {
			content:"\e106";
        }
		.disabled{
			color:#ccc;
		}
    }
    &.disabledColor {
        color: $label-disabled-Color;
		&.selected{
			color:#333;
		}
		.disabled:before{
			color:#ccc;
		}
    }
	
    &.disabled {
        color: $label-disabled-Color;
        .customCheckBox {
            background-position: bottom left;
        }
    }
    input[type="checkbox"] {
        _noFocusLine: expression(this.hideFocus=true);
        @include vmf-custom-opacity(0);
        outline: none;
    }
    .customCheckBox {
        width: 18px;
        height: 18px;
        display: inline-block;
        z-index: 1;
        position:absolute;
        top:2px;
        margin-left: 0px;
        left:0;        
        /*background: url("/images/input_checks.png") no-repeat -114px 0;*/
		&:before{
			content:"\e107";
		}
    }
    a {
         padding: 0;
         color: #006990;

    }
}

