.col-md-3.formLabel{ *float:left!important; float:left\9; }
vmf-text-input .searchBtn {	
	*right:46px; 
	cursor:pointer;
 }

vmf-text-input .searchWrap{
	*left:0px!important; left:0px!important\9;
	*width:87.2%!important; width:87.2%!important\9;
}
 
vmf-text-input input[type="text"] { *width:81%!important; border:1px solid #ccc!important; color:#666666!important;}
.searchArea input[type="text"] { *width:75%!important; border:1px solid #ccc!important; color:#666666!important; }